In [1]:
import pandas as pd 

data=pd.read_csv("iris.csv")
print(data)
data.describe()

     sepal length_cm  sepal width_cm  petal length_cm  petal width_cm  \
0                5.1             3.5              1.4             0.2
1                4.9             3.0              1.4             0.2
2                4.7             3.2              1.3             0.2
3                4.6             3.1              1.5             0.2
4                5.0             3.6              1.4             0.2
..               ...             ...              ...             ...
145              6.7             3.0              5.2             2.3
146              6.3             2.5              5.0             1.9
147              6.5             3.0              5.2             2.0
148              6.2             3.4              5.4             2.3
149              5.9             3.0              5.1             1.8

    species of flowers
0          Iris-setosa
1          Iris-setosa
2          Iris-setosa
3          Iris-setosa
4          Iris-setosa
..                 ...
145     Iris-virginica
146     Iris-virginica
147     Iris-virginica
148     Iris-virginica
149     Iris-virginica

[150 rows x 5 columns]

       sepal length_cm  sepal width_cm  petal length_cm  petal width_cm
count       150.000000      150.000000       150.000000      150.000000
mean          5.843333        3.054000         3.758667        1.198667
std           0.828066        0.433594         1.764420        0.763161
min           4.300000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.300000
50%           5.800000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sepal length_cm     150 non-null    float64
 1   sepal width_cm      150 non-null    float64
 2   petal length_cm     150 non-null    float64
 3   petal width_cm      150 non-null    float64
 4   species of flowers  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

***
#### END